.card {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 250px;
  height: 300px;
  // display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(248, 241, 241, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px 10px;
  // position: relative;

  h3{
    background-color: black;
    padding: 2px 5px;
    border-radius: 7px;
  }
}